
# compiled output
/dist
/tmp
/out

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# repo specifics
/mongodb
/mongodb_test_storage
/node_modules
/nginx
config.env
todo.txt
tests_needed.txt
src/config/secret_config.ts
secrets.json

