.SingleUserTab{
    height: 4vw;
    width: 60vw;
    max-width: 700px;
    margin: 1.5vh;
    background-color: #f0dcc8 ;
    border-radius: 10px;
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 40px 120px auto  120px 40px;
}

.clickableIcon{
    cursor: pointer;
    border-radius: 3px;
}

.clickableIcon:active {
    background-color: rgb(208, 187, 187);
}

.username{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20px ;
}

.statusText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px ;
    text-align: center;
}